{{! ! NEW DASHBOARD LAYOUT }}
<section class="py-4 py-xl-4 mb-4">
  <div class="container" id="blog-row">
    {{#each posts as |post|}}
      <div id="home-blog-card" class="card">
        <div class="card-body d-flex justify-content-between justify-start">
          <a href="/blog/{{post.id}}">
            <h3 class="card-title">{{post.title}}</h3></a>
          <p class="mt-1 p-0 mb-0">Posted by
            {{user.name}}
            on
            {{format_date post.createdAt}}</p>
        </div>
        <div class="row d-flex flex-nowrap">
          <div class="container text-end edit-delete-icon">
            {{! ! PENCIL }}
            <i class="fas fa-pencil-alt"></i>
            <span>&nbsp;&nbsp;</span>
            {{! ! TRASH CAN }}
            <a id="trash-can" data-post_id="{{post.id}}" href="">
              <i class="far fa-trash-alt"></i></a>

          </div>

        </div>

      </div>

    {{/each}}
  </div>
  <div class="text-center mt-3">
    <button id="create-post" class="btn btn-primary mt-5" type="button">create
      post</button>
  </div>

</section>