<section class="py-4 py-xl-5 login-tm">
  <div class="container" id="blog-row">
    {{#each posts as |post|}}
      <div id="home-blog-card" class="card">
        <div class="card-body d-flex justify-content-between">
          <a href="/blog/{{post.id}}">
            <h3 class="card-title">{{post.title}}</h3></a>
          <p class="m-0 text-secondary posted-by">Posted by
            {{user.name}}
            on
            {{format_date post.createdAt}}</p>
        </div>
        {{!:::::::::::::::::::: MIGHT NEED TO BRING BACK ::::::::::::::::}}
        {{!-- <div class="">
          <p class="px-3 mt-1">{{post.post_content}}</p>
        </div> --}}
      </div>
    {{/each}}
  </div>
  <div class="text-center mt-5">
    <button id="new-post-btn" class="btn btn-primary" type="button">+ post</button>
  </div>

</section>